{:paths ["src"]
 :deps {io.temporal/temporal-sdk {:mvn/version "1.31.0"}}
 :aliases
 {:dev
  {:extra-paths ["src-sample"]
   :extra-deps {com.taoensso/nippy {:mvn/version "3.6.0"}
                integrant/integrant {:mvn/version "1.0.1"}
                integrant/repl {:mvn/version "0.5.0"}
                com.appsflyer/pronto {:mvn/version "3.0.0"}}}
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.10" :git/sha "deedd62"}}}}}
